* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

html,
body {
  background: #f5f2ee;
  background: #ffffff;
  color: rgb(19, 18, 16);
  margin: 0;
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic',
    -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  line-height: 1.7;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --content-width: 780px;
  --lr-padding: 5vw;
  --section-padding: 100px;
}

a,
a:visited,
a:hover,
a:active {
  color: #f27231;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #f27231;
  text-decoration: underline;
}

.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 110vw;
  /* transform: translateX(-20%) translateY(-100%) rotate(-20deg); */
}
.bg img {
  width: 100%;
}

.colorsection:after,
.colorsection2:after {
  content: '';
  position: absolute;
  left: -50vw;
  width: 200vw;
  height: 100%;
  top: 0;
  z-index: 0;
  pointer-events: none;
  background: #fae1d9;
  opacity: 0.5;
}
.colorsection2:after {
  background: #f0cdc3;
}

nav,
footer {
  padding-top: 5vh;
  width: 100%;
}

footer {
  color: white;
  background: rgb(37, 36, 34);
  padding: 10vh 0;
}

.logo {
  height: 300px;
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  margin-top: 3em;
}
.logo img {
  height: 100%;
}

.maincolumn {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--lr-padding);
}

.flexspread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexspread.top {
  align-items: flex-start;
}

.links {
  padding: 0 3em;
  font-weight: bold;
}
.links a {
  color: rgb(19, 18, 16) !important;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.3rem;
  font-weight: 500;
}

.bodytext {
  margin-bottom: var(--section-padding);
}

li {
  margin-bottom: 1em;
}

li:first-line {
  font-weight: bold;
}

p {
  margin: 1.5em 0;
  text-align: justify;
}

hr {
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  border: none;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
}

#mc_embed_signup {
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  background: #fff;
  clear: left;
}
#mc_embed_signup * {
  font: inherit;
}

#mc_embed_signup_scroll {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  margin-bottom: 20px;
}
#mc_embed_signup_scroll > * {
  width: 100%;
}

.sub {
  opacity: 0.5;
  margin: 0 auto;
  text-align: center;
  font-size: 0.85em;
  max-width: 80%;
}

input[type='email'],
input[type='submit'] {
  -webkit-appearance: none;
  height: 4em;
  padding: 0 1.5em;
  border: 1px solid transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
input[type='email'] {
  background: #fff;
  border: 1px solid #eee;
}
input[type='submit'] {
  background: #364366;
  color: white;
  transition: background 0.3s;
}
input[type='submit']:hover {
  background: #f27231;
  cursor: pointer;
}

.center {
  text-align: center;
}

.anchorbutton {
  margin-top: 1em;
  display: inline-flex;
  padding: 1em 2em;
  background: #f27231;
  color: white !important;
  transition: background 0.3s;
  text-decoration: none !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
}
.anchorbutton:hover {
  background: #bd4d15;
}
.anchorbutton > img {
  width: 25px;
}
.anchorbutton > div {
  flex: 1;
  padding-left: 15px;
}

.podcast {
  margin: var(--section-padding) 0;
}

.authors {
  display: grid;
  grid-template-columns: 42% 42%;
  grid-gap: 16%;
  padding: var(--section-padding) 0;
}

.author {
  position: relative;
}

.author h3 {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.author div.name {
  display: flex;
  justify-content: center;
}

.author img {
  display: block;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.author .bio {
  /* max-width: 280px; */
  margin: 0 auto;
}

.example {
  padding: var(--section-padding) 0;
}

.example .intro {
  margin: 0 0 70px 0;
}

.example .sub {
  margin: 0 0 15px 0;
  text-align: left;
}

.example h3,
.example h4 {
  font-family: Menlo, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic',
    -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.example h4 {
  margin-bottom: 2.5em;
}

.example p {
  font-size: 0.9em;
  line-height: 2;
  margin: 2em 0;
}

@media (max-width: 767px) {
  :root {
    --section-padding: 60px;
    --lr-padding: 10vw;
  }

  html,
  body {
    font-size: 16px;
  }

  .flexspread.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .links {
    margin-top: 30px;
    display: block;
  }
  .links div {
    display: inline-block;
    text-align: left;
    margin-right: 30px;
  }
  .links a {
    margin-left: 0;
    margin-right: 30px;
  }

  .intro {
    font-size: 1.2rem;
  }

  #mc_embed_signup_scroll {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .anchorbutton {
    padding: 1em;
  }
  .anchorbutton > div {
    padding-left: 10px;
  }

  .authors {
    grid-template-columns: 1fr;
    grid-gap: var(--section-padding);
  }
  .author .bio {
    max-width: 300px;
  }
}
